.about {
    text-align: center;
    background-image: linear-gradient(to bottom right, black, darkslategrey);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: deepskyblue;
    font-family: 'Baloo Bhai 2', cursive;
}


.pages {
  > .options {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    flex-direction: column;   
  }
    
    
 
    a {
      display: inline-block;
      width: 100%;
    }
  }

  @media screen and (max-width: 320px) {

    li {
      margin-left: auto;
      margin-right: auto;
    }
    
  }
