@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=DotGothic16&display=swap');


.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App {
    background-color: #444444;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: deepskyblue;
}

.App-opener {
    width: 39vw;
    margin-left: 30vw;
    margin-top: 3vh;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0vh;
}

.App-opener p > a { color: deepskyblue;}

.App-opener a:hover {color: white; }

.App-opener h1 { font-family: 'Baloo Bhai 2', cursive;}

.App-opener p { font-family: 'Baloo Bhai 2', cursive;}

.Options {margin-bottom: 50vh;
width: 39vw;
margin-left: 28.5vw;
padding-left: 2vw;
}

.Options div {display: inline-flex;
padding-right: 0vw;
margin-right: 3vw;
}

.Options p a { color: deepskyblue;
text-decoration: none;}

.Options div:hover { border-bottom: medium solid white;}

