@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=DotGothic16&display=swap');


.app {
  text-align: center;
}

.app {
  background-image: linear-gradient(to bottom right, black, darkslategrey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: deepskyblue;
}

header {
  width: 39vw;
  margin-left: 30vw;
  margin-top: 3vh;
  padding: 0;

  a { color: deepskyblue;}

  a:hover {color: white; }

  h1 { font-family: 'Baloo Bhai 2', cursive;}

  p { font-family: 'Baloo Bhai 2', cursive;}
}

nav > ul {
  margin-bottom: 50vh;
  width: 39vw;
  margin-left: 28.5vw;
  padding: 0;


  li {
    display: inline-flex;
    margin-right: 3vw;
    border: thin solid white;
    border-radius: 45px;
    transition: background .35s;

    &:hover {
      background-color: whitesmoke;
    }
  }

  a {
    padding: 1vw;
    color: deepskyblue;
    text-decoration: none;
  }

  @media screen and (max-width: 480px) {
    div {
      margin-top: 2vh;

      &:active { background-color: whitesmoke;}
    }
  }
}





