@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=DotGothic16&display=swap');

// Main App styles
.app {
  text-align: center;
  background-image: linear-gradient(to bottom right, black, darkslategrey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: deepskyblue;
  font-family: 'Baloo Bhai 2', cursive;

  > header {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 0px;
    padding: 0;

    p {
      padding: .9em;
    }

    a {
      color: deepskyblue;
      padding: 2rem;

      &:hover {
        color: white;
      }
    }
  }
}
p.intro {
  border-top: thin solid #fff;
  border-bottom: thin solid #fff;
}


// Navigation
nav {
  > ul {
    margin-bottom: 50vh;
    width: 39vw;
    margin-left: 29.75vw;
    padding: 0;
    margin-top: 0px;
  }

  li {
    display: inline-flex;
    margin: 1rem;
    transition: background .3s;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
}

div {
  @media screen and (max-width: 480px) {
      margin-top: 2vh;
      &:active { background-color: whitesmoke;}
  }
}

// General Styles
a {
  color: deepskyblue;
  text-decoration: none;
  border-radius: 40px;
  border: thin solid white;
  padding: 1rem;
  transition: background .3s;
  &:hover {
    background-color: whitesmoke;
  }
  @media screen and (max-width: 750px) {
      font-size: 75%;
  }
}
}